# Copyright (c) 2026 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MEGKNOB

config ZMK_KEYBOARD_NAME
    default "MegKnob"

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif
